doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/build/css/app.min.css')
        link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        script(src="https://cdn.firebase.com/js/client/2.2.7/firebase.js")
        script(src='../bower_components/jquery/dist/jquery.min.js')
        script(src='build/js/app.min.js')
    body
