.sidebar-wrap.stats-widget
   .panel.panel-primary
      .panel-heading
         p.text-center Game code stats
            span= agentId

      .panel-body
          ul.stats-ul
             li
               strong Creation Date:
               span= createdOn
             li
               strong Original Value:
               span= originalValue

             li
               strong Current Value:
               span=  currentValue

             li
               strong Balance:
               span.balance-minus ---
                  i.fa.fa-caret-down