if gamecode
    .sidebar-wrap.stats-widget
       .panel.panel-slot
          .panel-heading
             p.text-center Game code stats
                span= gamecode.agentId

          .panel-body
              ul.stats-ul
                 li
                   strong Creation Date:
                   span.gc-createdOn= gamecode.createdOn
                 li
                   strong Original Value:
                   span.gc-originalValue= gamecode.originalValue

                 li
                   strong Current Value:
                   span.gc-currentValue=  gamecode.currentValue

                 li
                   strong Balance:
                   span.gc-balance= gamecode.balance