.sidebar-wrap.stats-widget
   .panel.panel-primary
      .panel-heading
         p.text-center Game code stats

      .panel-body
          ul.stats-ul
             li
               strong Creation Date:
               span  23.12.2019
             li
               strong Original Value:
               span  $1500

             li
               strong Current Value:
               span  $1200

             li
               strong Balance:
               span.balance-minus  $300
                  i.fa.fa-caret-down