include partials/header
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand: i.fa.fa-gamepad  Slot7 Prototype
      span hello

    .container-fluid.offset-top-10
      .col-md-2.col-lg-2.sidebar
        include partials/sidebar-menu

      .col-md-8.col-lg-8
        block content

      .col-md-2.col-lg-2.sidebar
        include partials/stats-widget


      include partials/footer

