doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand
        i.fa.fa-gamepad  Slot7 Prototype
      span hello

    .container
      .col-md-12
        block content

    .mastfoot
      .inner
        p Slot games prototypes

    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')