extends layout

block content
   .row.play-zone
      p This is just a preview to show algo works and parse correct
      p There's no sync with Firebase yet

      //h3.text-center.text-danger You {win || loose}!

      .col-md-4.col-md-offset-4
         button.btn-spin.action-button.shadow.animate.blue
            span  ***SPIN***

   .container
      .row.result-wrap
         h1.win-str

         .col-md-6.result-numbers

         .col-md-6.result-stats




