extends layout

block content
   .row.play-zone
      p This is just a preview to show algo works and parse correct
      p There's is sync with Firebase, but no with Spin button. You can update data manually and check.

      //h3.text-center.text-danger You {win || loose}!

      .col-md-6.col-md-offset-4
         button.btn-spin.action-button.shadow.animate.blue
            span  ***SPIN***

   .row.play-zone
      .col-md-10
         p.text-center.text-info Spin costs 1$ (100 credits)

   .container
      .row.result-wrap
         h1.win-str

         .col-md-6.result-numbers

         .col-md-6.result-stats




