body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.result-block-info {
  background-color: #e3e3e3;
}

div.result-block-table {
  background-color: #e1e1e1;
  border-right: 3px solid tomato;
}

div.sidebar-wrap {
  height: 100%;
}

.stats-widget {

}

.stats-widget p {
  font-size: 14pt;
  margin-bottom: 3px;
  margin-top: 3px;
}

.balance-minus {
  color: tomato;
}
.balance-plus {
  color: darkolivegreen;
}

.offset-top-10 {
  margin-top: 10px;
}