body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: url('http://static2.wallpedes.com/wallpaper/most/most-downloaded-light-grey-wallpapers-full-hd-wallpaper-search-grey-wallpaper-hd-bedroom-for-walls-homebase-designs-living-room-uk-next-border.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
  text-decoration: underline;
}

div.result-block-info {
  background-color: #e3e3e2;
}

div.result-block-table {
  background-color: #e1e1e1;
  border-right: 3px solid tomato;
}

div.sidebar-wrap {
    height: 100%;
}

div.play-zone {
}


.stats-widget {
  color: #000;
}

.stats-widget p {
  font-size: 14pt;
  margin-bottom: 3px;
  margin-top: 3px;
}

.balance-minus {
  color: tomato;
}
.balance-plus {
  color: darkolivegreen;
}

.offset-top-10 {
  margin-top: 10px;
}

.stats-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-spin {
  padding: 30px 50px;
  font-size: 4em;
  font-weight: 900;
}

.panel-slot {
  background-color: sandybrown;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}